html body {
    background-color: #EAEDED;
    font-family: Arial, Helvetica, sans-serif;
}

#logoContainer {
    background-color: #222F3E;
    height: 60px;
}

#logo {
  height: 40px;
  padding-left: 30px;
  padding-top: 8px;
}

#navContainer {
    height: 35px;
    background-color: #364759;
}

nav, ul, li {
    color: #EAEDED;
    display: inline;
}

li {
    margin: 100px;
}

#callToAction {
    background-color: #F56600;
    color: #EAEDED;
    text-align: center;
    box-sizing: border-box;
    margin: 30px;
    height: 35px;
}

p {
    margin: auto;
}