html body {
    background-color: #EAEDED;
    font-family: Arial, Helvetica, sans-serif;
}

#logoContainer {
    background-color: #222F3E;
    height: 60px;
}

#logo {
  height: 40px;
  padding-left: 30px;
  padding-top: 8px;
}

#navContainer {
    height: 35px;
    background-color: #364759;
    color: #EAEDED;
}

nav ul li {
    display: inline-block;
    margin: 10px 0 0 20px;
    color: #EAEDED;
}

#callToAction {
    background-color: #F56600;
    color: #EAEDED;
    text-align: center;
    box-sizing: border-box;
    margin: 30px;
    height: 35px;
    line-height: 35px;
}

#backgroundHoliday {
    text-align: center;
    height: 200px;
    margin: 30px;
    background-image: url(/assets/images/bg-image.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: content-box;
    color: #EAEDED;
    font-weight: bold;
}

#backgroundHoliday > h1 {
    padding-top: 70px;
    font-size: 2em;
}

#backgroundHoliday > p {
    padding-top: 25px;
    font-size: 1.2em;
}
